*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: white;
    flex-direction: column;
}

header{
    max-width: 100%;
    height: 100vh;
    background-image: url(./img/Photo.png);
    background-size: cover;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 30px;
}

header nav h1{
    color: #FFF;
font-family: Rubik;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

header nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
header nav ul li a{
    color: #FFF;
font-family: Krub;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 135.023%; /* 21.604px */
transition: all 0.8s ease;
}

header nav ul li a:hover{
    border-bottom: 2px solid rgb(78, 78, 168);
}

.icons_row{
    display: flex;
    align-items: center;
    gap: 30px;
}

.icons_row i{
    width: 19.872px;
height: 19.122px;
flex-shrink: 0;
color: white;
transition: all 1s ease;
}

.icons_row i:hover{
    transform: scale(1.5);
}

#handle{
font-weight: 600;
font-size: 16px;
padding: 20px 42px;
border: none;
border-radius: 6px;
gap: 10px;
background: #FFF;
}

#menu{
    display: none;
}


.header_title_box{
    width: 500px;
    margin-top: 200px;
}
.p_box{
    text-align: center;
    width: 250px;
    color: #FFF;
font-family: Rubik;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
    background-color: rgba(9, 18, 66, 0.25);
    border-left: 2px solid #FFB629;
}

.header_title_box h2{
    color: #FFF;
font-family: Rubik;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.header_title_box p{
    color: #FFF;
font-family: Krub;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 151.523%; /* 24.244px */
margin-bottom: 10px;
}

.header_title_box button{
    width: 194px;
height: 60px;
flex-shrink: 0;
color: #23212A;
font-family: Krub;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 135.023%; 
background: linear-gradient(#FFB629, #FFDA56, #FFD7A6);
}




main{
    height: 100vh;
}

.biggest_box1 p{
    color: #1C1F35;
font-family: Rubik;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-left: 2px solid  #FFB629;
}
.biggest_box1 h3{
    color: #1C1F35;
font-family: Rubik;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.big_box1{
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-between;
}

.box_desc h4{
    color: #1C1F35;
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.box_desc p{
    color: #666C89;
font-family: Krub;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 151.523%; /* 24.244px */
}
.box_desc{
    border-left: 2px solid grey;

}

.biggest_box2{
    display: flex;
    align-items: center;
    
}
.big_box1{
    margin-left: 50px;
}

.biggest_box3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#transport{
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
}




@media screen and (max-width:900px) {
    #handle{
        padding: 10px 22px;
        font-size: 14px;
    }
    header nav ul{
        padding: 20px 50px;
        background-color: rgba(9, 18, 66, 0.25);
        flex-wrap: wrap;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -200px;
        transition: all 1s ease;
    }
    nav{
        flex-wrap: wrap;
    }
    .container{
        max-width: 90%;
    }
    .open{
        left: 0px;
    }
    #menu{
        display: block;
        color: #FFF;
        font-size: 20px;
    }

    .header_title_box{
        width: 200px;
        margin-top: 20%;
    }
    .header_title_box h2{
        font-size: 30px;
    }
    .header_title_box button{
        width: 144px;
        height: 30px;
    }
   .header_title_box p{
    font-size: 14px;
   }
   
   #transport{
    flex-wrap: wrap;
   }
   .biggest_box2, .biggest_box3{
    flex-direction: column;
   }
   .biggest_box1{
    margin-bottom: 20px;
   }

}

